html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  max-width: 100%;
}

.header {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
}

.header h1 {
  text-align: center;
  font-size: 60px;
  margin-top: 6rem;
  color: #023047;
  text-transform: uppercase;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #81b29a;
  font-family: "Source Code Pro", monospace;
}

.hidden {
  display: none;
}

.rotate {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before,
.slick-track:after {
  display: table;
  content: '';
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;
  outline: none;
  height: 100%;
  min-height: 1px;
}

[dir='rtl'] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

.game {
  margin-top: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 0 auto;
  width: 60%;
}

@media screen and (max-width: 768px) {
  .game {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
}

.board {
  margin-top: 6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (max-width: 768px) {
  .board {
    margin: 2rem 0 0 0;
  }
}

div[empty="false"] {
  cursor: pointer;
}

.square,
.square-grey {
  width: 100px;
  height: 100px;
  border: 1px solid transparent;
  display: inline-block;
  opacity: 0.9;
}

@media screen and (max-width: 768px) {
  .square,
  .square-grey {
    width: 70px;
    height: 70px;
  }
}

@media screen and (max-width: 500px) {
  .square,
  .square-grey {
    width: 35px;
    height: 35px;
  }
}

.square {
  background: white;
}

.square-grey {
  background: #aaa;
}

.goodMove {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.goodMove::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  opacity: 0.7;
  background: linear-gradient(148deg, #a9a7d0 1%, #00ff2e 56%);
}

@media screen and (max-width: 768px) {
  .goodMove::after {
    width: 20px;
    height: 20px;
  }
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.row__rowPrefix {
  color: #fff;
  width: 102px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 24px;
  font-weight: 700;
  margin: 1rem 0;
  font-family: "Kanit", sans-serif;
}

@media screen and (max-width: 768px) {
  .row__rowPrefix {
    margin: 0.5rem 0;
    font-size: 16px;
    color: black;
    width: 70px;
  }
}

@media screen and (max-width: 500px) {
  .row__rowPrefix {
    width: 37px;
    font-size: 12px;
  }
}

.row__colPrefix {
  color: #fff;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 24px;
  font-weight: 700;
  font-family: "Kanit", sans-serif;
  margin: 0 10px;
}

@media screen and (max-width: 768px) {
  .row__colPrefix {
    height: 65px;
    font-size: 16px;
    color: black;
  }
}

@media screen and (max-width: 500px) {
  .row__colPrefix {
    height: 35px;
    font-size: 12px;
  }
}

.boardUi {
  margin-top: 8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background: url("/assets/img/Uibc.png");
  opacity: 0.9;
  border-radius: 15px;
  padding: 30px;
  height: 800px;
}

@media screen and (max-width: 1024px) {
  .boardUi {
    display: none;
  }
}

.boardUi__gameMessage {
  margin: 0 0 2rem 0;
  max-width: 200px;
  color: #bd1d1d;
  font-size: 36px;
  height: 30px;
}

@media screen and (max-width: 768px) {
  .boardUi__gameMessage {
    font-size: 24px;
  }
}

.boardUi__heading {
  color: #fff;
  font-size: 32px;
  font-weight: 700;
}

.boardUi__button {
  width: 220px;
  height: 70px;
  background: #9836f3;
  color: #fff;
  font-weight: 900;
  font-size: 22px;
  padding: 5px 10px;
  outline: none;
  overflow: hidden;
  border: none;
  border: double 5px black;
  /* border: double 3px solid white; */
  border-top-left-radius: 19px;
  border-bottom-right-radius: 19px;
  border-block-color: white;
  border-inline-color: white;
  -webkit-transition: all ease 0.2s;
  transition: all ease 0.2s;
}

@media screen and (max-width: 768px) {
  .boardUi__button {
    font-size: 14px;
    padding: 5px 5px;
    min-width: 60px;
    margin-left: 16px;
    border-radius: 16px;
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
}

.boardUi__button:hover {
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
  border-color: #f1ff5c;
  -webkit-box-shadow: 0 0.4rem 1.4rem 0 rgba(86, 185, 235, 0.5);
          box-shadow: 0 0.4rem 1.4rem 0 rgba(86, 185, 235, 0.5);
}

.boardSlideShow {
  top: 200px;
  position: absolute;
  width: 100%;
  z-index: -2;
}

@media screen and (max-width: 1024px) {
  .boardSlideShow {
    display: none;
  }
}

.boardSlideShow__slide {
  background: center/cover no-repeat;
  border-radius: 20px;
  margin: 0 auto;
  width: 90%;
  height: 1000px;
}

.boardSlideShow__slide--1 {
  background-image: url("/assets/img/chessSlide1.jpg");
}

.boardSlideShow__slide--2 {
  background-image: url("/assets/img/chessSlide2.jpg");
}

.boardSlideShow__slide--3 {
  background-image: url("/assets/img/chessSlide3.jpg");
}

.boardSlideShow__slide--4 {
  background-image: url("/assets/img/chessSlide4.jpg");
}
/*# sourceMappingURL=main.css.map */